CHIPIN_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
...paste full key here...
-----END PUBLIC KEY-----"
CHIPIN_SLUG_BE=borangbetest
CHIPIN_SLUG_B=borangbtest
RESEND_API_KEY=re_xxxxxxxxxxxx
EBOOK_BE_URL=https://drive.google.com/file/d/1eWCx_i9HNGjt1DxgMzqlysYllaeVVM83/view?usp=sharing
EBOOK_B_URL=https://drive.google.com/file/d/10_uhl-2B0uhmKcKuvMGgADU78omue2oy/view?usp=sharing
