CHIPIN_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
...paste full key here...
-----END PUBLIC KEY-----"
CHIPIN_PRODUCT_ID_BE=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
CHIPIN_PRODUCT_ID_B=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
RESEND_API_KEY=re_xxxxxxxxxxxx
EBOOK_BE_URL=https://drive.google.com/uc?export=download&id=YOUR_FILE_ID
EBOOK_B_URL=https://drive.google.com/uc?export=download&id=YOUR_FILE_ID
